*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html,body{
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    background-color: #1abc9c;
}

.wrapper{
    width: 380px;
    background-color: #fff;

}

.title{
    /* box-shadow: 4px 4px 4px #1abc9c; */
    font-size: 30px;
    font-weight:600;
    /* line-height: 1px; */
    height: 90px;
    width: 100%;
    text-align: center;
    background-color: #16a085;
    color: white;
}
p{
    position: relative;
    top: 10px;
  
}
form{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}
.row{
    padding: 8px 0px 10px 10px;
    display: flex;
    align-items: center;
    
}
#content{
    height: 50px;
    width: 80%;
    box-shadow: 4px 4px 5px white;
    border: 1px solid rgb(248, 222, 222);
    /* border: 1px solid white; */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.row i{
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


